.alignNavBar{
    display: flex;
    align-items: center;
}

.title{
    color: #fc8019;
}

.home-name{
    text-decoration: underline;
    margin:0px 0px 0px 15px !important;
    
}

.address-text{
    width: 200px;
    display: block;
    padding-left: 5px;
    margin-left: 10px;
    color: #686b78;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 14px;
}

.searchbar{
    border:none;
    border-bottom: 2px solid black;
    margin-left: 35px;
}

.searchbar:focus{
    outline: none;
}

.listOfNavs{
    display: flex;
    margin: 0 !important;
}

.listOfNavs > li {
    list-style-type: none;
    padding: 20px;
}

.listOfNavs > li:hover{
    color: #FF6263;
    cursor: pointer;
}


/* -----------------Offers -------------------- */


.offerImage{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}

.offerImage > img {
  margin-top: 40px;
  transition: all 0.5s;
}

.offerImage > img:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
  


/* ------------------Body------------------------- */

.cardImg{
    width: 100%;
    position: relative;
}

.promoted-div{
    position: absolute;
    top:0;
    background-color: rgb(58, 60, 65);
    color: white;
    /* left: -8px; */
    border-color: rgb(30, 32, 35) transparent;
}


.cuisinesStyle{
    font-size: 12px;
}

.ratingStyle{
    font-size: 12px;
}

.discountInfo {
    color: #8a584b;
    font-size: 14px;
    font-weight: 400;
    
}

.rating-green{
    background-color: #48c479;
    color: white;
}

.rating-orange{
    background-color: #db7c38;
    color: white;
}

.rating-star{
    margin-left:5px;
}

.rating-number{
    font-weight: bold;
    margin-right:5px;
}

.restaurant-list{
    display: flex;
    flex-wrap: wrap;
}

.restaurant-list > .card {
    margin:20px 30px;
}

/* ------------------------------Shimmer UI ------------------------------- */


.shimmer-div{
    background-color: gray;
    width:260px;
    height:187px;
    margin: 20px;
    opacity: 0.3;
}

.shimmer-heading{
    background-color: gray;
    width:150px;
    height:15px;
    margin: 20px;
    opacity: 0.3;
}

.shimmer-para{
    background-color: gray;
    width:100px;
    height:10px;
    margin: 20px;
    opacity: 0.3;
}


/* ------------------------Footer ----------------------- */

.footerStyle{
    display: flex;
   justify-content: space-between;
    align-items: center;
}

.footer-icons{
    display: flex;
    justify-content: space-between;
    font-size: 30px;
}

.footer-icon-link , .footer-icon-link:hover{
    color: black;
   
}

/* ---------------------------------Restaurant Menu Details------------------------------------------------------- */


/* --------------------------menu Header----------------------- */

.menu-header-container{
    background-color: #0D0D0D;
    color: white;
}

.restaurant-menu-image{
    width:254px;
    height: 165px;
}

.menu-header-div{
    padding:30px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-details-div{
    display: flex;
    
}

.menu-details-rating{
    display: flex;
    flex-direction: column;
    border-right: 0.1px solid white;
}


